/* Style reset */
html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

*::after, *::before {
    box-sizing: inherit;
}
/* End of style reset */

:root {
    --first-color: ;
    --second-color: ;
    --third-color: ;
    --forth-color: ;

    --palette-bgc: #5f605c;
    --color-ring: #181013;


    --palette-ring-radius2: 6vmin;
}

.board{
    /* size of the board */
    width: 100vw;
    height: 100vh;
    /* background-color: black; */

    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-areas: "palette drawings";
}

.palette {
    grid-area: palette;
    padding: 2vmin;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--palette-bgc);
}

.pen-shape {
    /* background-color: white; */
    width: 70%;
    height: 20%;
    background: url("/img/round-stroke.jpg");
    background-size: cover;
    

}

.eraser{
    width: 20%;
    height: auto;
}

.colors {
    width: var(--palette-ring-radius2);
    height: var(--palette-ring-radius2);
    border: var(--color-ring) 2px solid;
    border-radius: 50%;
}

/* .palette>:nth-child(3){
    background-color: red;
}
.palette>:nth-child(4){
    background-color: blueviolet;
}
.palette>:nth-child(5){
    background-color: greenyellow;
}
.palette>:nth-child(6){
    background-color: teal;
}
.palette>:nth-child(7){
    background-color: grey;
} */
.inset-ring {
    box-shadow: inset .3vmin .3vmin .5vmin, inset -.3vmin -.3vmin .5vmin, inset -.3vmin .3vmin .5vmin, inset .3vmin -.3vmin .5vmin;
}

.drawings {
    grid-area: drawings;
}