
/* Style reset */
html, body {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    box-sizing: border-box;
}

*::after, *::before{
    box-sizing: inherit;
}
/* End of style reset */

:root {
    --first-color: ;
    --second-color: ;
    --third-color: ;
    --forth-color: ;

    --palette-bgc: #5f605c;
    --color-ring: #272738;
    --color-ring-shades: #2b2c49;


    --palette-ring-radius2: 6vmin;
}

.board{
    /* size of the board */
    width: 100vw;
    height: 100vh;
    /* background-color: black; */

    display: grid;
    grid-template-columns: 10% 1fr;
    grid-template-areas: "palette drawings";
}

.palette {
    grid-area: palette;
    padding: 2vmin;

    display: flex;
    flex-wrap: wrap; 
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    background-color: var(--palette-bgc);
}

.pen-shape {
    /* background-color: white; */
    width: 10vmin;
    height: 10vmin;
    
    background: url("/img/round-stroke.png");
    background-size: cover;
    

}

.eraser{
    width: 8vmin;
    height: 8vmin;
}

.colors {
    width: var(--palette-ring-radius2);
    height: var(--palette-ring-radius2);
    border: var(--color-ring) 3px solid;
    border-radius: 50%;
    transition: all .3s ease-in;
}

.colors:hover {
    border: white 3px solid;
}


.inset-ring {
    box-shadow: 
    inset var(--color-ring) .3vmin .3vmin 1vmin,
    inset var(--color-ring) -.3vmin -.3vmin 1vmin, 
    inset var(--color-ring) -.3vmin .3vmin 1vmin, 
    inset var(--color-ring) .3vmin -.3vmin 1vmin;
}

.drawings {
    grid-area: drawings;
}

/* @media (max-width: 600px){
    .board {

        grid-template-rows: 1fr 10%;
        grid-template-areas: "drawings","palette";
    }
    .palette{
        display: flex;
        flex-direction: row;
    }
} */